@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
   padding: 0px;
   margin: 0px;
}
body,html{
    background-color: lightgray;
}
header{
    background-color: rgb(148, 148, 148);
    padding-top: 10px;
    padding-bottom: 10px;
}
header h1{
    padding: 10px;
    text-align: center;
    width: 200px;
    color: rgb(241, 241, 241);
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.479);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 10px;
}
span#burguer{
    background-color: rgb(48, 48, 48);
    margin: auto;
    margin-top: 10px;
    display: block;
    max-width: 150px;
    border-radius: 7px;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}
span#burguer:hover{
    background-color: white;
    color: rgb(48, 48, 48);
}
menu{
    display: none;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
menu ul{
    list-style-type: none;
}
menu > ul > li > a{
    margin: 10px 0px;
    border-radius: 5px;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid grey;
    transition-duration: 0.3s;
}
menu > ul > li > a:hover{
    background-color: grey;
    padding: 15px;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
article h2{
    padding-bottom: 15px;
    font-size: 1.6em;
    text-align: center;
}
article p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-indent: 20px;
    line-height: 1.4em;
}