@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fontepadrao: Arial, Helvetica, sans-serif;
    --fontetitulo: 'Roboto Mono', monospace;
}
body{
    font-family: var(--fontepadrao);
}
header{
    background-color: transparent;
    height: 440px;
    padding-bottom: 30px;
    text-align: center;
}
header p{
    font-family: var(--fontetitulo);
    margin-top: 40px;
    font-size: 2.3em;
}
p.pequeno{
    font-size: 1.4em;
    padding-top: 5px;
    margin-top: -10px;
    color: rgb(46, 44, 44);
}
section#foto{
    padding-top: 30px;
}
section#foto img{
    display: block;
    margin: auto;
    border-radius: 50%;
}
main{
    position: relative;
    width: 94,5vw;
    height: 100vh;
    background-color: skyblue;
    padding: 35px 20px 10px 10px;
    text-align: center;
}
section#caixa1{
    position: relative;
    margin: auto;
    
    background-color: red;
    max-width: 600px;
    height: 100px;
}
section#caixa1 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}
article#cont1{
    background-color: rgb(0, 0, 0);
    
    margin: -10px -10px 0px 100px;
    max-width: 500px;
    height: 100px;
}
section#caixa2{
    position: relative;
    margin: 25px auto;

    background-color: blueviolet;
    max-width: 600px;
    height: 100px;
}
section#caixa2 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}
article#cont2{
    background-color: black;
    margin: -10px -10px 0px 100px;
    max-width: 500px;
    height: 100px;
}
section#caixa3{
    position: relative;
    margin: 25px auto;

    background-color: blueviolet;
    max-width: 600px;
    height: 100px;
}
section#caixa3 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}
article#cont3{
    background-color: black;
    margin: -10px -10px 0px 100px;
    max-width: 500px;
    height: 100px;
}
section#monitor{
    margin: auto;

    background: transparent url('../imagens/monitor1.png') no-repeat top center scroll;
    background-size: cover;
    height: 300px;
    max-width: 400px;
}
iframe#tela{
    position: relative;
    top: 30px;
    left: 0px;
    width: 335px;
    height: 200px;
    background-color: red;
}