@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
:root{ /*Variáveis*/
    --fonte-padrao: Arial, Helvetica, sans-serif;
}
body{
    font-family: var(--fonte-padrao);
    background-color: peachpuff;
}
header{
    padding: 30px 30px 50px 30px;
    height: 170px;
    background: blueviolet url('../imagens/espaco.jpg') center bottom no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.399);
}
header h1{
    font-size: 3.0em;
    text-align: center;
    margin-bottom: 15px;
}
header p{
    padding: 20px 10px 10px 10px;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    max-width: 500px;
}
nav{
    display: block;
    padding: 22px;
    background-color: skyblue;
    text-align: center;
    margin-bottom: 30px;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    margin: 0px 15px;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 1.3em;
    border-radius: 10px;
    padding: 10px;
}
#espaco{
    padding: 0px 8px;
}
main{
    background-color: lightblue;
    max-width: 1000px;
    padding: 18px;
    margin: auto;
    border-radius: 15px;
}
main h1{
    font-size: 2.4em;
    margin-bottom: 15px;
    margin-bottom: 40px;
}
main p{
    margin: 10px 0px;
    text-indent: 30px;
    font-size: 1.3em;
    line-height: 1.8em;
    text-align: justify;
}
article{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    max-width: 900px;
    border-radius: 10px;
}
article h2{
    background-color: aqua;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0px 0px ;
    padding: 10px;
}
.dado{
    display: inline-block;
    margin: 10px 0px;
    font-size: 1.3em;
    line-height: 1.8em;
}
footer{
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
footer a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}
footer a:hover{
    font-size: 1.5em;
}