@charset "UTF-8";

*{
    font: normal normal 1em Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(90deg, #A3C9D9, #5EADBF);
}
main{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    width: 500px;
    box-shadow: 3px 3px 10px #45808d;
}
#fotos{
    text-align: center;
}
#titulo-in{
    color: #F24162;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 1px 1px 2px #9b2a3f;
}
.size:hover{
    height: 300px;
    width: 300px;
}