@charset "UTF-8";
/* Regra @charset para aprimorar a compatibilidade da acenruação*/

body{
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12pt;
    font-family: arial;
}

h1{
    color: brown;
}

a{
    color: brown;
    text-decoration: none; /*Essa linha de código tira o sublinhado da palavra com link*/
}