@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: 'Sriracha', cursive;
    --fonte2: 'Fredoka One', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte0);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}
header > p{
    font-family: var(--fonte0);
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.4s;
}
header a:hover ,footer a:hover{
    font-size: 1.2em;
    text-decoration: underline;
}
section{
    font-family: var(--fonte1);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: purple;
    color: white;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}