@charset "UTF-8";

@media screen and (min-width: 740px) and (max-width: 1000px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    section#img{
        display: inline-block;
        height: 500px;
        width: 300px;
        border-radius: 25px 0px 0px 25px;
        margin: -15px -15px -15px -15px;
        background-position: bottom right;
        background-size: cover;
    }
    main{
        max-width: 700px;
        padding-bottom: 8px;
    }
    main h1{
        display: inline-block;
        transform: translate(180px, -440px);
        margin-bottom: 0px;
    }
    main p{
        display: inline-block;
    }
    main p#text{
        width: 400px;
        transform: translate(300px, -420px);
        margin-bottom: 0px;
    }
}