@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*Fonte importada do Google fonts*/

@font-face{
    font-family: 'fonte'; 
    src: url('../fontes/idroid.otf') format('opentype'); /*Formato opentype para arquivos de fonte .otf*/
    font-weight: normal;
}

/* Criando variáveis em css com a pseudoclasse :root*/

:root{ 
    /*É bom fazer essa declaração para poder olhar as cores com mais detalhe.*/
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: Arial,Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'fonte', cursive;
}
*{ /*variável global em css*/
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
.externo::after{
    content: '\1F517';
}
header{
    text-align: center;
    background-image: linear-gradient(360deg, var(--cor5), var(--cor3));
    min-height: 150px;
    padding-top: 40px;
}
header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3.0em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.255);
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.255);
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.149);
}
nav > a{
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px #00000033;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    text-indent: 10px;
}
main img{
    width: 100%;
}
main .pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main .video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
main .video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.200);
}
aside ul{
    list-style: '\2705\0020\0020';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;  
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}