@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: peachpuff;
}
body{
    background: url('../imagens/fundo-madeira.jpg') top center no-repeat scroll;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 625px;
    width: 310px;
    background: url('../imagens/frame-iphone.png') top center no-repeat scroll;
}
#tela{
    position: relative;
    top: 82px;
    left: 24px;

    width: 263px;
    height: 467px;
}
#redes{
    text-align: right;
}
#redes img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: translate(-3px, -3px);
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.572);
}
