@charset "UTF-8";

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*Config de tablet*/
    body{
        background-image: linear-gradient(to left, var(--lilas), var(--verde));
    }
    section#login{
        width: 80vW;
        height: 300px;
    }
    div#imagem{
        float: left;
        width: 35%;
        height: 100%;

    }
    div#formulario{
        float: right;
        width: 65%;
    }
}
@media screen and (min-width: 992px) {
    /*Configurações para grandes telas*/
    body{
        background-image: linear-gradient(to left, var(--lilas), var(--verde));
    }
    section#login{
        width: 950px;
        height: 350px;
    }
    div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }
    div#formulario{
        float: left;
        width: 60%;
    }
    div#formulario h1{
        font-size: 2em;
    }
    div#formulario p{
        font-size: 1.2em;
    }
}