@charset "UTF-8";

:root{
    --roxo: rgb(137, 52, 158);
    --rosa: rgb(201, 42, 116);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-color: var(--rosa);
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
}
div#img{
    background: var(--roxo) url('../imagens/paisagem.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    display: block;
}
div#formulario{
    padding: 10px;
    display: block;
}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario p{
    font-size: 0.9em;
}